* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("img/wallpaper.png");
  background-color: #2e333a;
  font-family: "Helvetica";
  color: #fad34b;
  font-size: 14px;
}

link,
a {
  color: #ffdd62;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: bold;
}

link:hover, a:hover {
  color: 1px #fff3cc;
}

header {
  display: flex;
  background-color: #222831;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 5px #222831;
  max-height: 300px;
  flex-flow: row nowrap;
  padding: 5px;
}

header .titol {
  display: flex;
  flex: 1 1 auto;
  order: 1;
  text-align: right;
  justify-content: right;
}

.titol img {
  width: 320px;
}

header .navmenu {
  display: flex;
  flex: 1 1 auto;
  text-align: center;
  color: white;
  order: 2;
  margin-left: 50px;
}

.navmenu ul {
  display: flex;
  justify-content: left;
  text-align: left;
}

.navmenu ul,
li {
  display: flex;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

content #joc {
  display: flex;
  flex: 1 1 auto;
  order: 1;
  height: auto;
}

content .form {
  display: flex;
  flex: 1 1 auto;
  order: 2;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #222831;
  max-width: 40%;
  height: 100%;
  box-shadow: 0px 0px 30px 0px #222831;
  padding: 20px;
}

content .play {
  display: flex;
  flex: 1 1 auto;
  order: 2;
}

content .box-class {
  display: flex;
  flex-direction: row;
  background-color: #fad34b;
  order: 4;
  width: 20%;
  justify-content: center;

}

content .stats {
  background-color: #fad34b;
  display: flex;
  flex-direction: row;
  color: #393e46;
  padding: 10px;
  font-weight: bold;
  border: 0px;
}

content .stats #titol {
  order: 1;
  width: 100%;

}

content #cicles {
  order: 2;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-left: 2px;

}

content #vius {
  order: 2;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-left: 2px;
}

content #morts {
  order: 2;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-left: 2px;
}


content .velocitat {
  display: flex;
  order: 3;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  justify-content: center;
  text-align: center;

}

form {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  align-items: center;
  margin: 20px;

}

form label {
  margin: 5px;
  text-align: left;
  justify-content: left;
  align-items: left;
}

form ::placeholder {
  text-align: center;
}



#button {
  background-color: #fad34b;
  color: #393e46;
  padding: 10px;
  font-weight: bold;
  border: 0px;
  margin: 10px;
  cursor: pointer;
}

#btnplay,
#btnreset {
  background-color: #fad34b;
  color: #393e46;
  padding: 10px;
  font-weight: bold;
  border: 0px;
  margin: 10px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

label {
  margin: 10px;
}

.slider {
  -webkit-appearance: none; 
  width: 100%;
  height: 10px;
  background: #5c5e63;
  cursor: pointer;
  margin: 10px;
  direction: rtl; /* right to left */
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fad34b;
}

content #joc {
  flex: 1 1 auto;
  order: 2;
  justify-content: right;
  text-align: right;
  align-items: right;
}

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 30px;
  bottom: 0px;
  width: 100%;
}

#joc {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
}

#joc table {
  padding: 10px;
  background-color: #393e46;
}
#joc td {
  width: 20px;
  height: 20px;
}

#joc td.dead {
  background-color: rgb(141, 141, 141);
}
#joc td.alive {
  background-color: #fad34b;
}

select {
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
  background: #fad34b;
  color: #393e46;
  font-weight: bold;
}

select::content {
  background: #71767e;
  color: #fad34b;
}

option {
  font-weight: bold;
}

option:hover {
  background: #393e46;
  color: #fad34b;
}

